# ignore everything in the root except the "wp-content" directory.
!app/public/wp-content/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
app/public/wp-content/cache/*
app/public/wp-content/updraft/*
app/public/wp-content/upgrade/*
app/public/wp-content/uploads/wpdm-cache/*
app/public/wp-content/wflogs/*
app/public/wp-content/uploads/backup-guard/*
app/public/wp-content/plugins/*
!app/public/wp-content/plugins/classic-editor
!app/public/wp-content/plugins/cmsmasters-importer
!app/public/wp-content/plugins/cmsms-contact-form-builder
!app/public/wp-content/plugins/cmsms-content-composer
!app/public/wp-content/plugins/cmsms-mega-menu
!app/public/wp-content/plugins/duplicate-page
!app/public/wp-content/plugins/host-webfonts-local
!app/public/wp-content/plugins/LayerSlider
!app/public/wp-content/plugins/polylang
!app/public/wp-content/plugins/wordpress-seo
!app/public/wp-content/plugins/wp-optimize
!app/public/wp-content/plugins/wp-file-manager
!app/public/wp-content/plugins/wp-smushit
!app/public/wp-content/plugins/wp-statistics
!app/public/wp-content/plugins/wpdm-extended-shortcodes
!app/public/wp-content/plugins/wpdm-gutenberg-blocks
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/

# ignore old uploaded files
app/public/wp-content/uploads/2014/*
app/public/wp-content/uploads/2019/*
app/public/wp-content/uploads/2020/*
app/public/wp-content/uploads/2021/02/*
app/public/wp-content/uploads/revslider/templates/*

# ignore these plugins
app/public/wp-content/plugins/hello.php

# ignore specific themes
app/public/wp-content/themes/twenty*/

# ignore log files and databases
*.log